@charset "UTF-8";
body{
    background-image: linear-gradient(to right, #2D7DD2, #97CC04, #493a03);
    font-family: Arial, Helvetica, sans-serif;
 
}
h1#principal{
    text-align: center;
    background-color: rgb(20, 75, 20);
    color: white;
}
.basico{
    color: #EEB902;
    font-weight:bolder;
}
.intermediario{
    color: rgb(255, 136, 0);
}
.avancado{
    color: #cc2204;
}
p{
    text-align: justify;
}